{% extends 'base.html.twig' %}

{% block body %}
    <div class="container m-t-3 p-t-1">
        <h1 class="p-b-1">Mes objets</h1>

        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Nom de l'objet</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for objets in particulierObjet %}
                <tr>
                    <td>{{ objets.nom }}</td>
                    <td>{{ objets.description }}</td>
                    <td>{% if objets.categorie == 1  %}
                            Mobilier
                        {% endif %}
                        {% if objets.categorie == 2  %}
                            Electroménager
                        {% endif %}
                        {% if objets.categorie == 3  %}
                            Vetement
                        {% endif %}
                        {% if objets.categorie == 4  %}
                            Autre
                        {% endif %}
                    </td>
                    <td><a class="btn btn-danger" href="{{ path('objets_edit',
                        {'id':objets.id})
                        }}">Editer</a></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
