{% extends 'base.html.twig' %}

{% block body %}
    <div class="container m-t-3 p-t-1">
        <h1>Objets disponible</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nom de l'association</th>
                <th>Objet concerné</th>
                <th>Categorie</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for objet in objets %}
                <tr>
                    <td>{{ objet.nom }}</td>
                    <td>{{ objet.description }}</td>
                    <td>{{ objet.categorie }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
