{% extends 'base.html.twig' %}
{% form_theme form ':BootstrapTemplate:bootstrap.html.twig' %}
{% block body %}
    <div class="container m-t-3 p-t-1">
        <h2>Veuillez renseigner vos informations avant de continuer</h2>
        <div class="col-md-4 col-md-offset-4 ">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-success" type="submit" value="Valider"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
